body {

  /* background-image: linear-gradient(to left, rgba(0, 57, 229, 0.815), rgba
  (0, 215, 226, 0.56)) , url('../images/background.svg'); */

  /* background-image: linear-gradient(123.66deg, #003be5 12.08%, #00d5e2 86.
  52%) , url('../images/background.svg'); */
  background: linear-gradient(123.66deg, #003be5 12.08%, #00d5e2 86.52%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Epilogue , sans-serif;
  height: 100%;
  width: 100%;
}

.top-bar {
  align-items: center;
  background: linear-gradient(123.66deg, #003be5 12.08%, #00d5e2 86.52%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  justify-content: center;
  max-height: 240px;
}

.main {
  flex-grow: 1;
}
