.form-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.form-container .login-form {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.881);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 200px;
  max-width: 350px;
  padding: 16px 4px;
  width: 100%;
}

.form-container .login-form h1 {
  text-align: center;
}

.form-container .login-form input {
  text-align: center;
}

.form-container .login-form input, .form-container .login-form button {
  max-width: 256px;
  text-align: center;
  width: 100%;
}
